@tailwind base;
@tailwind components;
@tailwind utilities;

/* Базовые стили для светлой темы по умолчанию */
:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(255, 255, 255);
}

.dark {
  --background: rgb(255, 255, 255);
  --foreground: rgb(255, 255, 255);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: background-color 0.4s ease, color 0.4s ease;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
